<h1>New address</h1>

<%= form_for :address, url: addresses_path, data: { turbo: false } do |f| %>
	<p>
		<%= f.label :name %> <br />
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.submit 'Create address' %>
	</p>

<% end %>